<table style="width: auto; margin: 0 auto; table-layout: auto;">
    <tr>
        <td style="width: 100px;">
            <img src="{{site.baseurl}}/images/logo.png" style="max-width: 100%; height: auto;" title="Tools" alt="">
        </td>
        <td><a href="{{site.baseurl}}/devops/tools/home">Home</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/ideas">Ideas</a></td>
        <td><a href="{{site.baseurl}}/calculator">calculator</a></td>
        <td><a href="{{site.baseurl}}/wordle">wordle</a></td>

        
    </tr>
</table>

