<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Tools" alt=""></td>
        <td><a href="{{site.baseurl}}/devops/tools/home">Home</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/ideas">Ideas</a></td>
        <td><a href="{{site.baseurl}}/calculator">calculator</a></td>
        <td><a href="{{site.baseurl}}/wordle">wordle</a></td>
        <td><a href="_notebooks/sprint 2/3.8 popcorn hack.ipynb">3.8 hacks</a></td>
        <td><a href="_notebooks/sprint 2/3.10 popcorn hack.ipynb">3.10 hacks</a></td>
        
    </tr>
</table>

